/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Dancing+Script&family=Didact+Gothic&family=Open+Sans:wght@300&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Dancing+Script&family=Didact+Gothic&family=Open+Sans:wght@300&family=Pacifico&family=Yellowtail&display=swap');

/* Variables */
:root{
    --black: rgb(20,20,20);
    --white: rgb(255,255,255);
    --yellow: rgb(238, 215, 11);
}

::-webkit-scrollbar{
    display: none;
}

/* 
========== Header 
*/

.header{
    background-image: linear-gradient(to top, rgba(47, 47, 47, 0.436) 0%, rgba(0, 0, 0, 0.719) 100%), url(../img/cristina-matos-albers-Ltv7a5m8i4c-unsplash.jpg);
    width: 100%;
    height: 900px;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}

.nav{
    width: 100%;
    height: 50px;
    background-color: var(--white);
    position: fixed;
    z-index: 100;
}

.nav-menu-burger{
    width: 40%;
    height: 200px;
    top: -150%;
    left: 50%;
    position: fixed;
    z-index: 10;
    background-color: var(--white);
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    transition: all ease-in-out 300ms;
}

.show-menu{
    top: 2%;
}

.container-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ===== form login ==== */

.login{
    width: 100%;
    height: 100vh;
    background-color: var(--white).319;
    backdrop-filter: blur(10px);
    position: fixed;    
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -150%;
    transition: all 250ms cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
    transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
}

.show-login{
    bottom: 0;
}

.form-login{
    width: 85%;
    height: 50%;
    background-color: var(--white);
    border: 1px solid var(--black);
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.input-container{
    width: 85%;
    margin-bottom: 2em;
}

.input-login{
    text-align: center;
    border: 1px solid var(--black);
    border-radius: 20px;
    width: 100%;
    height: 40px;
}


/* 
==============
NAV
==============
*/
.title{
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
    font-weight: 600;
    color: var(--black);
    cursor: pointer;
}

.nav-btn{
    width: 80px;
    height: 100%;
    text-align: center;
    cursor: pointer;
    transition: all ease-in-out 500ms;
    line-height: 50px;
}

.nav-btn:hover{
    background-color: var(--yellow);
}

.title-pasteles{
    font-size: 3em ;
    font-family: 'Pacifico', cursive;
}

.container-txt-center{
    width: 60%;
    height: auto;
    padding: 1em;
}

.container-image-cake{
    overflow: hidden;
}


/* ============ BTN ============ */
.btn-menu {
    --color: var(--yellow);
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
   }
   
   .btn-menu:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
   }
   
   .btn-menu:hover {
    color: #fff;
   }
   
   .btn-menu:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
   }
   
   .btn-menu:hover:before {
    top: -30px;
    left: -30px;
   }
   
   .btn-menu:active:before {
    background: var(--black);
    transition: background 0s;
   }

   .link:hover{
    color: var(--yellow);
   }

/* ======= FOOTER ============ */

.footer{ 
    width: 100%;
    height: 250px;
    margin-top: 2em;
    background-color:var(--black);
    color: var(--white);
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.footer-txt{
    padding: 1em;
    margin: 1em;
    display: flex;
    flex-direction: column;
}

/* Media========= */
@media (max-width:430px){

    .title{
        font-size:1.5em ;
    }
    .nav-menu{
        display: none;
    }
  
    .container-txt-center{
        padding: 0;
    }

    .form-login{
        height: 65%;
    }
    .footer{
        flex-direction: column;
        height: 550px;
    }
}

@media (min-width:1000px){
    .form-login{
        width: 45%;
        height: 70%;
    }
    
    .nav-menu-burger{
        width: 15%;
        left: 75%;
    } 
    .input-login{
        height: 50px;
    }
}